<header class="header">
  <nav class="header__nav">
    <button class="header__nav-burger">
      <img
        class="header__nav-burger-icon"
        src="../../assets/images/burger-icon.svg"
      />
    </button>
    <button class="header__nav-planning">
      <img
        class="header__nav-planning-icon"
        src="../../assets/images/plus-icon.svg"
      />
      <span class="header__nav-planning-text"> Запланировать </span>
    </button>
  </nav>
  <app-breadscrumbs></app-breadscrumbs>
  <div class="header__title">
    <img class="header__title-icon" src="../../assets/images/planning-title-icon.svg">
    <h2 class="header__title-text">
        Планирование
    </h2>
  </div>
</header>
