<header class="header">
  <nav class="header__nav">
    <button class="header__nav-burger">
      <div class="header__nav-burger-icon"></div>
    </button>
    <button class="header__nav-planning">
      <div class="header__nav-planning-icon"></div>
      <span class="header__nav-planning-text"> Запланировать </span>
    </button>
  </nav>
  <app-breadscrumbs></app-breadscrumbs>
  <div class="header__title">
    <div class="header__title-icon"></div>
    <h2 class="header__title-text">
      Планирование
    </h2>
  </div>
</header>
