<section class="filters">
  <form action="#" class="filters__form">

    <label class="filters__search-label">
      <div class="filters__search-icon"></div>
      <input type="text" class="filters__search-input" placeholder="Поиск" />
    </label>

    <label class="filters__select-label">
      <span class="filters__select-text">Программа</span>
      <select class="filters__select-group">
        <option class="filters__select-option" checked>Все</option>
        <option class="filters__select-option">Другие</option>
      </select>
    </label>

    <label class="filters__select-label">
      <span class="filters__select-text">Период</span>
      <select class="filters__select-group">
        <option class="filters__select-option" checked>Июнь 2019</option>
        <option class="filters__select-option">Другие</option>
      </select>
    </label>

    <label class="filters__select-label">
      <span class="filters__select-text">Статус</span>
      <select class="filters__select-group">
        <option class="filters__select-option" checked>Все</option>
        <option class="filters__select-option">Другие</option>
      </select>
    </label>
  </form>

  <div class="filters__summary">
    <span class="filters__sessions"> 34 сессии </span>
    <div class="filters__settings">
      <button class="filters__btn-configure">
        <div class="filters__btn-configure-icon"></div>
        <span class="filters__btn-configure-text"> Настроить фильтр </span>
      </button>
      <button class="filters__btn-clear">
        <div class="filters__btn-clear-icon"></div>
        <span class="filters__btn-clear-text"> Сбросить </span>
      </button>
    </div>
  </div>
</section>
