<section class="result">
  <ul class="result__table">
    <li class="result__row result__row_type_head">
      <div class="result__col result__col_type_head result__col_type_date">Дата начала</div>
      <div class="result__col result__col_type_head result__col_type_name">Название</div>
      <div class="result__col result__col_type_head result__col_type_participants">Участников</div>
      <div class="result__col result__col_type_head result__col_type_coach">Тренер</div>
      <div class="result__col result__col_type_progress result__col_type_head">
        <span class="result__col_type_head-text">
          Прогресс
        </span>
      </div>
      <div class="result__col result__col_type_head result__col_type_button"></div>
    </li>
    <li class="result__row result__row_type_content">
      <div class="result__col result__col_type_date">23 дек, 9:00</div>
      <div class="result__col result__col_type_name">Страхование с заботой о клиенте</div>
      <div class="result__col result__col_type_participants">12</div>
      <div class="result__col result__col_type_coach"></div>
      <div class="result__col result__col_type_progress">
        <span class="result__col_type_progress-text">95%</span>
      </div>
      <div class="result__col result__col_type_button">
        <button class="btn-menu"></button>
      </div>
    </li>
    <li class="result__row result__row_type_content">
      <div class="result__col result__col_type_date">14 дек, 9:30</div>
      <div class="result__col result__col_type_name">Главные правила продаж</div>
      <div class="result__col result__col_type_participants">10</div>
      <div class="result__col result__col_type_coach"></div>
      <div class="result__col result__col_type_progress">
        <span class="result__col_type_progress-text">91%</span>
      </div>
      <div class="result__col result__col_type_button">
        <button class="btn-menu"></button>
      </div>
    </li>
    <li class="result__row result__row_type_content">
      <div class="result__col result__col_type_date">19 окт, 14:30</div>
      <div class="result__col result__col_type_name">Первичное обучение КС</div>
      <div class="result__col result__col_type_participants">8</div>
      <div class="result__col result__col_type_coach"></div>
      <div class="result__col result__col_type_progress">
        <span class="result__col_type_progress-text">86%</span>
      </div>
      <div class="result__col result__col_type_button">
        <button class="btn-menu btn-menu_active"></button>
      </div>
    </li>
    <li class="result__row result__row_type_content">
      <div class="result__col result__col_type_date">10 окт,16:00</div>
      <div class="result__col result__col_type_name">Вторичное обучение КС</div>
      <div class="result__col result__col_type_participants">18</div>
      <div class="result__col result__col_type_coach"></div>
      <div class="result__col result__col_type_progress">
        <span class="result__col_type_progress-text">82%</span>
      </div>
      <div class="result__col result__col_type_button">
        <button class="btn-menu"></button>
      </div>
    </li>
    <li class="result__row result__row_type_content result__row_type_non-active">
      <div class="result__col result__col_type_date">5 окт,15:00</div>
      <div class="result__col result__col_type_name">Вклады теория и практика</div>
      <div class="result__col result__col_type_participants">6</div>
      <div class="result__col result__col_type_coach"></div>
      <div class="result__col result__col_type_progress">
        <span class="result__col_type_progress-text">79%</span>
      </div>
      <div class="result__col result__col_type_button">
        <button class="btn-menu"></button>
      </div>
    </li>
    <li class="result__row result__row_type_content result__row_type_non-active">
      <div class="result__col result__col_type_date">27 сен, 11:00</div>
      <div class="result__col result__col_type_name">Очное обучение менеджеров</div>
      <div class="result__col result__col_type_participants">20</div>
      <div class="result__col result__col_type_coach"></div>
      <div class="result__col result__col_type_progress">
        <span class="result__col_type_progress-text">73%</span>
      </div>
      <div class="result__col result__col_type_button">
        <button class="btn-menu"></button>
      </div>
    </li>
  </ul>
</section>
