.page {
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

$color-white: #fff;
$color-light-theme-secondary: rgba(0, 0, 0, 0.54);
$color-row-hover: rgba(0, 0, 0, 0.03);
$color-light-theme-primary: rgba(0, 0, 0, 0.54);
$color-border-bottom: rgba(0, 0, 0, 0.08);
$color-filter-blue-shadow: rgba(0, 0, 255, 0.05);
$color-filter-blue-hover: rgba(16, 113, 255, 0.04);
$color-filter-blue-border-active: #1071ff;
$color-filter-blue-font-active: rgba(0, 0, 0, 0.87);
$color-placeholder: rgba(0, 0, 0, 0.38);
$color-btn-clear-hover: rgba(0, 0, 0, 0.04);
