@import "../../app.component.scss";

.filter-group {
  margin: 0;
  padding: 0 8px;
  &__list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $color-border-bottom;
    display: flex;
  }
  &__item {
    font-family: "Montserrat", "Arial", sans-serif;
    list-style: none;
    margin: 0 23px 0 0;
    padding: 10px 1px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    cursor: pointer;
    color: $color-light-theme-primary;
    transition: background-color 300ms ease-in;
    &:hover {
      box-shadow: 0 3px 0 0 $color-filter-blue-shadow;
      background-color: $color-filter-blue-hover;
    }
    &_active {
      border-bottom: 2px solid$color-filter-blue-border-active;
      color: $color-filter-blue-font-active;
      border-radius: 0px;
    }
  }
}
